<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/pictures/favicon.png">
<nav>
    <div class="hide2">
        <div class="cart-container">
            <div class="cart-header">
                <img class="exit" src="/pictures/navbar/cancel.png" alt="" height="30px" width="30px">
            </div>
            <div id="mobileLinks" style=" flex-direction: column;">
                <ul id="mobileLinks" style=" flex-direction: column;">
                    <li style="margin: 20px 0; font-size: 120%;"><a href="/">Home</a></li>
                    <li style="margin: 20px 0; font-size: 120%;"><a href="/shop">Shop</a></li>
                    <li style="margin: 20px 0; font-size: 120%;"><a href="/contact">Contact Us</a></li>
                    <% if(currentUser){%>
                        <a style="margin: 20px 0; font-size: 120%;" href="/user/<%= currentUser.id %>" id="mobileLinks">
                        </a>
                        <a style="margin: 20px 0; font-size: 120%;" href="/cart">View Cart</a>
                        <%}%>
                            <% if(!currentUser){%>
                                <a style="margin: 20px 0; font-size: 120%;" href="/login">Login</a>
                                <a style="margin: 20px 0; font-size: 120%;" href="/register"> Register</a>

                                <% } else{%>

                                    <a style="margin: 20px 0; font-size: 120%;" href="/logout">Logout</a>

                                    <%}%>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="hide">
        <div class="cart-container">
            <div class="cart-header">
                <h1>Cart</h1>
                <img src="/pictures/navbar/cancel.png" alt="" height="30px" width="30px" class="cancel">
            </div>
            <div class="cart-items">
                <% if(currentUser){ %>
                    <% for(product of currentUser.produkts ){ %>
                        <div class="cart-item">
                            <div>
                                <div class="block">
                                    <div class="product-image">
                                        <img src="<%= product.image %>" alt="" width="150px" height="150px">
                                    </div>
                                    <div class="product-details">
                                        <div class="product-info">
                                            <h3 class="product-name">
                                                <%= product.name %>
                                            </h3>
                                            <h4 class="product-price">
                                                $ <%= product.price %>
                                            </h4>
                                        </div>
                                        <div class="product-actions">
                                            <h4>
                                                Qty: <%=product.val %>
                                            </h4>
                                            <form action="/deleteFromCart?_method=DELETE" class="delete-form"
                                                method="POST">
                                                <input type="hidden" value="<%= currentUser.id  %>" name="userid">
                                                <input type="hidden" value="<%= product.id %>" name="id">
                                                <button class="delete-button">
                                                    <img src="/pictures/navbar/cancel.png" alt="" height="15px"
                                                        width="15px" class="cancel">
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } %>
            </div>
            <div class="cart-total">
                <% if(currentUser){ %>
                    <% let total=0 %>
                        <% for(product of currentUser.produkts ){ %>
                            <% total +=product.price * product.val; %>
                                <% } %>
                                    <div class="total-label">Total</div>
                                    <div class="total-value">
                                        $ <%= total %>
                                    </div>
                                    <% } %>
            </div>
            <div class="checkout">
                <form action="/checkout" method="POST">
                    <button class="add">Checkout</button>
                </form>
            </div>
            <div class="view-cart">
                <a href="/cart">View Cart</a>
            </div>
        </div>
    </div>
    <div class="cont">
        <div>
            <h2 class="logo"><a href="/">3legant.</a></h2>
        </div>
        <div class="center">
            <ul>
                <li class="navigation"><a href="/">Home</a></li>
                <li class="navigation"><a href="/shop">Shop</a></li>
                <li class="navigation"><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <% if(!currentUser){%>
                <div class="auth-links">
                    <img src="/pictures//navbar/Hamburger_icon.svg" alt="" onclick="reveal()" class="ham">
                    <a class="nav-link navigation" href="/login">Login</a>
                    <a class="nav-link navigation" href="/register"> Register</a>
                </div>
                <% } else{%>
                    <div class="logout-link">
                        <img src="/pictures//navbar/Hamburger_icon.svg" alt="" onclick="reveal()" class="ham">
                        <a class="nav-link navigation" href="/logout">Logout</a>
                    </div>
                    <%}%>
                        <% if(currentUser){%>
                            <div id="user-cart" class="user-cart">
                                <a href="/user/<%= currentUser.id %>" style="display: flex;">
                                    <img src="/pictures/icons/074e236f-3eba-4f6b-a9f2-05e396f81250.png" alt=""
                                        class="user">
                                </a>
                                <img src="/pictures/icons/0a368109-bb81-4300-9fb7-211bd6442e93.png" alt="" class="cart">
                            </div>
                            <%}%>
        </div>
    </div>
</nav>

<script>
    const cart = document.querySelector(".cart")
    const hide = document.querySelector(".hide")
    const hide2 = document.querySelector(".hide2")
    const ham = document.querySelector(".ham")
    const cancel = document.querySelector(".cancel")
    const exitBtn = document.querySelector(".exit")

    exitBtn.addEventListener("click", function () {
        hide2.style.display = "none";
        exit.style.display = "none"
    })


    cart.addEventListener("click", function () {
        hide.style.display = "flex"
    })
    function reveal() {
        hide2.style.display = "flex";

    }

    cancel.addEventListener("click", function () {
        hide.style.display = "none"
    })


</script>

<style>
    * {
        font-family: poppins;
        font-weight: 400;
    }

    .mobileRight {
        display: flex;
        justify-content: flex-end;
        width: 100px;
        align-items: flex-end;
    }

    body {
        -ms-overflow-style: scrollbar;
        scrollbar-width: thin;
    }

    .add {
        width: 100%;
        height: 40px;
        border: 1px solid black;
        background-color: white;
        font-size: 15px;
        color: black;
        border-radius: 15px;
    }

    .ham {
        display: none;
    }

    .add:hover {
        color: white;
        background-color: black;
        cursor: pointer;
    }

    .dv {
        font-size: 30px;
    }

    ::-webkit-scrollbar {
        width: 12px;
        /* width of the scrollbar */
    }

    ::-webkit-scrollbar-track {
        background: white;
        border-radius: 6px;
        /* background color of the track */
    }

    ::-webkit-scrollbar-thumb {
        background-color: black;
        /* color of the scrollbar */
        border-radius: 6px;
        /* roundness of the scrollbar */
        border: 3px solid white;
        /* border around the scrollbar thumb */
    }

    .hide {
        transition: all 1s;
    }

    .hide2 {
        display: none;
    }

    #mobileLinks {
        display: none;
    }

    .hide {
        position: fixed;
        width: 500px;
        right: 0;
        top: 0;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        background-color: rgb(238, 238, 238);
    }


    .cart-container {
        width: 90%;
        height: 90%;
    }

    .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cart-items {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        overflow-y: scroll;
    }

    .cart-item {
        width: 90%;
        height: 150px;
        border-bottom: 1px solid black;
        margin-top: 10px;
    }

    .block {
        display: flex;
    }

    .block:nth-child(2) {
        flex-direction: column;
    }

    .product-image {
        width: 150px;
        height: 150px;
    }

    .product-details {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }

    .product-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .product-name {
        width: 50%;
        margin: 0;
    }

    .product-price {
        width: 100%;
        text-align: end;
    }

    .product-actions {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .delete-form {
        display: flex;
        align-items: center;
    }

    .delete-button {
        border: none;
    }

    .cart-total {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .checkout {
        width: 100%;
        margin-top: 20px;
    }

    .view-cart {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .auth-links {
        display: flex;
        justify-content: space-between;
        width: 100px;
        align-items: center;
    }

    .logout-link {
        display: flex;
        justify-content: space-between;
        width: 50px;
        align-items: center;
    }

    .user-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-right {
        display: flex;
    }

    .cont {
        width: 70%;
        align-content: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-top: 10px;
    }

    ul li {
        list-style: none;
        margin: 0 20px;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
    }

    .logo {
        font-size: 40px;
    }

    img {
        margin: 0 5px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .nav-link {
        font-size: 15px;
    }

    .exit {
        display: none;
    }

    @media (min-width:300px) and (max-width: 1000px) {
        .user-cart {
            display: none;
        }

        .navigation {
            display: none;
        }

        .ham {
            display: flex !important;
        }

        .auth-links {
            justify-content: flex-end;
        }

        .center ul li {
            display: none;
        }

        .exit {
            display: flex;
        }

        .auth-links a {
            display: none;
        }

        .hide2 {
            transition: all 1s;
        }

        .hide2 {
            position: fixed;
            width: 50%;
            right: 0;
            top: 0;
            height: 100vh;
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 10000;
            background-color: rgb(238, 238, 238);
        }

        #user-cart {
            display: none;
        }

        #mobileLinks {
            display: flex;
        }
    }
</style>