<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<nav>

    <div style="position: fixed;  width: 500px; right:0; top:0;height: 100vh; display: none; justify-content: center; align-items: center; z-index: 1000; background-color: rgb(238, 238, 238);"
        class="hide">
        <div style=" width: 90%; height: 90%;">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h1>Cart</h1>
                <img src="/pictures/navbar/cancel.png" alt="" height="30px" width="30px" class="cancel">
            </div>
            <div
                style="width: 100%; height: 70%;  display: flex; justify-content: start; flex-direction: column; overflow-y: scroll;">
                <% if(currentUser){ %>
                    <% for(product of currentUser.produkts ){ %>

                        <div style="width: 90%; height: 150px;  border-bottom: 1px solid black; margin-top: 10px;">
                            <div>
                                <div class="block" style="display: flex;">
                                    <div width="150px" height="150px">
                                        <img src="<%= product.image %>" alt="" width="150px" height="150px">
                                    </div>
                                    <div
                                        style=" display: flex; justify-content: space-between; width: 100%; flex-direction: column;">
                                        <div style="display: flex; justify-content: space-between;  width: 100%;">
                                            <h3 style="width: 50%;margin: 0;">
                                                <%= product.name %>
                                            </h3>
                                            <h4 style="width: 100%; text-align: end;">
                                                $ <%= product.price %>
                                            </h4>
                                        </div>
                                        <div
                                            style="width: 100%; height: 50px; display: flex; justify-content: space-between; align-items: center; ">
                                            <h4>
                                                Qty: <%=product.val %>
                                            </h4>
                                            <form action="/deleteFromCart?_method=DELETE"
                                                style=" display: flex; align-items: center;" method="POST">
                                                <input type="hidden" value="<%= currentUser.id  %>" name="userid">
                                                <input type="hidden" value="<%= product.id %>" name="id">
                                                <button style="border: none;">
                                                    <img src="/pictures/navbar/cancel.png" alt="" height="15px"
                                                        width="15px" class="cancel">
                                                </button>

                                            </form>

                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>

                        <% } %>
                            <% } %>


            </div>
            <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                <% if(currentUser){ %>
                    <% let total=0 %>
                        <% for(product of currentUser.produkts ){ %>
                            <% total +=product.price * product.val; %>
                                <% } %>
                                    <div class="dv">Total</div>
                                    <div class="dv">
                                        $ <%= total %>
                                    </div>
                                    <% } %>
            </div>
            <div style="width: 100%;margin-top: 20px; ">
                <form action="/checkout" method="POST">

                    <button class=" add">Checkout</button>
                </form>
            </div>
            <div style="width: 100%; text-align: center; margin-top: 20px;">
                <a href="/cart" style="width: 100%; height: 30px;">View Cart</a>
            </div>
        </div>

    </div>
    <div class="cont">
        <div>
            <h2 class="logo"><a href="/">3legant.</a></h2>
        </div>
        <div class="center">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div style="display: flex;">
            <% if(!currentUser){%>
                <div style="display: flex; justify-content: space-between; width: 100px; align-items: center;">
                    <a class="nav-link" style="font-size: 12px;" href="/login">Login</a>
                    <a class="nav-link" style="font-size: 12px; margin-right: 10px;" href="/register">Register</a>
                </div>

                <% } else{%>
                    <div style="display: flex; justify-content: space-between; width: 50px; align-items: center;">
                        <a class="nav-link" href="/logout" style="font-size: 12px; margin-right: 10px;">Logout</a>
                    </div>

                    <%}%>
                        <% if(!currentUser){%>

                            <% } else{%>
                                <div>
                                    <a href="/user/<%= currentUser.id %>" style="width:35%; height: 20px;">
                                        <img src="/pictures/icons/074e236f-3eba-4f6b-a9f2-05e396f81250.png" alt=""
                                            class="user"></a>

                                    <img src="/pictures/icons/0a368109-bb81-4300-9fb7-211bd6442e93.png" alt=""
                                        class="cart">
                                </div>

                                <%}%>
        </div>
    </div>
</nav>
<script>
    const cart = document.querySelector(".cart")
    const hide = document.querySelector(".hide")
    const cancel = document.querySelector(".cancel")

    cart.addEventListener("click", function () {
        hide.style.display = "flex"
    })
    cancel.addEventListener("click", function () {
        hide.style.display = "none"
    })
</script>
<style>
    body {
        -ms-overflow-style: scrollbar;
        scrollbar-width: thin;
    }

    .add {
        width: 100%;
        height: 40px;
        border: 1px solid black;
        background-color: white;
        font-size: 15px;
        color: black;
        border-radius: 15px;
    }

    .add:hover {
        color: white;
        background-color: black;
        cursor: pointer;
    }

    .dv {
        font-size: 30px;
    }

    ::-webkit-scrollbar {
        width: 12px;
        /* width of the scrollbar */
    }

    ::-webkit-scrollbar-track {
        background: white;
        border-radius: 6px;
        /* background color of the track */
    }

    ::-webkit-scrollbar-thumb {
        background-color: black;
        /* color of the scrollbar */
        border-radius: 6px;
        /* roundness of the scrollbar */
        border: 3px solid white;
        /* border around the scrollbar thumb */
    }

    .hide {
        transition: all 1s;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }


    a {
        text-decoration: none;
        color: black;
    }

    .cont {
        width: 70%;
        align-content: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    nav {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-top: 10px;
    }

    ul li {
        list-style: none;
        margin: 0 20px;

    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
    }


    .logo {
        font-size: 40px;
    }

    img {
        margin: 0 5px;
    }
</style>