<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegant</title>
    <link rel="stylesheet" href="/star.css">
    <link rel="icon" type="image/x-icon" href="/pictures/favicon.png">
</head>

<body>
    <%- include('../partials/navbar') %>

        <div style="width: 100%; height: auto; display: flex;
        justify-content: center;
        align-items: center;">
            <div id="najgolem" style="width: 70%; height: 100%; display: flex;
            justify-content: center;
            align-items: center; margin: 20px;">
                <div class="left" style="width: 100%;"><img src="<%= product.image %>" alt=""
                        style="width: 100%; height: 500px;">
                </div>
                <div class="right"
                    style="width: 70%; height: 65%; display: flex;justify-content: start; align-items: start; flex-direction: column; margin: 50px;">
                    <h1 style="font-size: 40px;">
                        <%= product.name %>
                    </h1>
                    <p style="font-size: 20px; color: grey;">
                        <%= product.description %>
                    </p>
                    <p style="font-size: 30px; padding: 20px 0; border-bottom: 1px solid black; width: 100%;">
                        $ <%= product.price %>
                    </p>
                    <p style="font-size: 30px; padding: 20px 0;">
                        Measurments</p>
                    <p style=" border-bottom: 1px solid black; width: 100%;">
                        <%= product.measurments %>
                    </p>

                    <div style=" width: 100%; display: flex;justify-content: center;align-items: center; margin-top:
                        100px;">
                        <form style=" width: 100%; display: flex;justify-content: center;align-items: center; " action="
                        /addToCart" method="POST"><button class="add">Add to
                                Cart</button>
                            <div id="inc-button" class="spinner-button">+</div>
                            <input type="number" value="1" min="1" max="100" class="inp" name="kol" />
                            <input type="hidden" value="<%= product.id %>" name="productId" />
                            <% if (currentUser) { %>
                                <input type="hidden" value="<%= user._id %>" name="user">
                                <% } %>
                                    <div id="dec-button" class="spinner-button">-</div>
                        </form>
                    </div>


                    <% if (currentUser && product.author && String(product.author)===String(currentUser._id)) { %>
                        <div style=" width: 100%; display: flex; margin-top:
                        100px;">
                            <a href="/<%= product.id %>/edit" class="kopce"> <button class="add">Edit</button></a>
                            <form action="/<%= product.id  %>?_method=Delete" method="POST" style="width: 100%;">
                                <a href="" class="kopce"><button class="add">Delete</button></a>
                            </form>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
        <div style="width: 100%; display: flex;
        justify-content: center;
        align-items: center;">
            <div style="width: 70%; height: 100%; display: flex;
            justify-content: start;
            align-items:start; margin: 20px; flex-direction: column;">
                <h1 style=" border-bottom: 1px solid black; width: 100%;">Reviews</h1>
                <% if (currentUser) { %>
                    <form action="/<%= product.id %>/review" method="POST">
                        <fieldset class="starability-basic">
                            <legend>Leave a review</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0"
                                checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>

                        </fieldset>
                        <button class="add">Leave the review</button>
                    </form>
                    <% } %>



                        <%for(let review of product.reviews) { %>
                            <div style="display: flex; width: 100%;">
                                <div style="width: 100%; ">
                                    <h2 style="font-size: 30px;">
                                        <%= review.author.username %>
                                    </h2>
                                    <p class="starability-result" data-rating="<%= review.rating  %>">
                                        Rated: <%= review.rating %>
                                    </p>

                                </div>
                                <div>
                                    <% if(currentUser && review.author.equals(currentUser._id)){ %>
                                        <form action="/<%=product.id%>/review/<%=review.id%>?_method=DELETE"
                                            method="POST">
                                            <button class="add" style="width: 200px;">Delete review</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                            <% } %>

            </div>

        </div>

        <%- include('../partials/footer') %>
</body>

</html>
<style>
    .add {
        width: 100%;
        height: 40px;
        border: 1px solid black;
        background-color: white;
        font-size: 15px;
        color: black;
        border-radius: 15px;


    }

    .inp {
        width: 40px;
        height: 40px;
        border: none;
        text-align: center;
        font-size: 20px;
        background-color: black;
        color: white;


    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .add button {
        width: 100px;
    }

    .spinner-button {
        width: 40px;
        height: 40px;
        font-size: 25px;
        text-align: center;
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .add:hover {
        color: white;
        background-color: black;
        cursor: pointer;
    }

    .kopce {
        width: 200px;
        height: 100px;
    }

    .add:hover a {
        color: white;
        background-color: black;
        cursor: pointer;
    }

    @media (min-width:300px) and (max-width: 650px) {}

    @media (min-width:300px) and (max-width: 1000px) {
        #najgolem {
            flex-direction: column;
        }
    }
</style>
<script>
    const increase = document.querySelector("#inc-button")
    const decrease = document.querySelector("#dec-button")
    const inp = document.querySelector(".inp")

    increase.addEventListener("click", function () {
        inp.value = parseInt(inp.value) + 1
    })
    decrease.addEventListener("click", function () {
        inp.value = parseInt(inp.value) - 1
        if (inp.value < 1) {
            inp.value = 1;
        }
    })
</script>